*{
  margin:0;
  padding:0;
}
body{
  font-family: 'Merriweather', serif;

  /* font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Sacramento', cursive; */
}
p{
  margin:20px auto;
}
.top-container{
  background-color:   #b380ff;
  text-align: center;
  position:relative;
  height: 650px;
  color:#290066;
}
.name{
  width:60%;
  margin:auto;
  padding-top: 150px;
  /* font-family: 'Sacramento', cursive; */
  font-family: 'Satisfy', cursive;
  font-size: 80px;
  font-weight: 500;
}
.cloud1{
  position:absolute;
  left:800px;
  top:70px;
  width:200px;
}
.cloud2{
  position:absolute;
  left:250px;
  top:200px;
  width:200px;
}
.mountain{
  /* position: absolute;
  bottom:0px;
  left:410px;
  display: block; */
width:32%;
margin: 25px auto 10px;
}
h2{
  font-family: 'Montserrat', sans-serif;
  color:#009966;
}
h3{
  font-family: 'Montserrat', sans-serif;
}
.md-img{
  width:200px;
}
.middle-container{
  text-align: center;
  padding:80px 0px;
  background-color: #e0ccff;
}
.middle-container p{
  width:30%;
  margin:auto;
}
.cando{
  text-align: center;
  /* background-color: #e0ccff; */
}
.cando-img1{
  width:200px;
  float: left;
  padding-right: 50px;
}
.do-heading{
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  color:green;
  padding:40px 0px;
}
.cando1{
  width: 50%;
  margin: auto;
  padding:50px  0px;
}
.cando-txt{
  text-align: left;
  padding-top:  25px;
}
.cando-img2{
  width:200px;
  float: right;
  padding-left: 50px;
}
.icanhelp{
  width:40%;
  margin: 80px auto;
}
.btn {
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #4cb887;
  padding: 10px 20px 10px 20px;
  border: solid #1f628d 0px;
  text-decoration: none;
  margin:50px 0px 50px 0px;
}

.btn:hover {
  background: #39c221;
  text-decoration: none;

}
.footer{
  height:200px;
  background-color: #b380ff;
  text-align: center;
  color:#290066;
}
.footer-ul{
  list-style: none;
}
.footer-ul a{
  text-decoration: none;
  color: #290066;
}
.footer-ul li{
  display: inline-block;
  margin: 50px;
}

.md-para1{
  padding: 20px 0;
}
.middle-container h2{
    padding: 20px 0;
}
.copyright{
  color:white;
}
